.footer {
  @media (max-width: 1200px) {
    text-align: center;
  }
  .bootomBelt {
    border-top: 1px solid #414141;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    @media (max-width: 1200px) {
      span {
        text-align: center;
      }
      justify-content: center;
      row-gap: 23px;
      flex-direction: column;
    }
    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
    .authorContent {
      font-weight: 700;
    }
    a {
      font-size: 0.75rem;
      font-weight: 400;
      text-decoration: none;
      margin-right: 10px;
      @media (max-width: 1200px) {
        width: 100%;
      }
    }
  }
}
