header {
  width: 100%;
  .containerForParts {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1200px) {
      align-items: center;
      flex-direction: column;
    }
  }



}
