header .topBelt {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 18px 0 8px 0;
  font-size: 1rem;

  .logoOfCompany {
  }

  nav {
    display: flex;
    column-gap: 20px;
    z-index: 99;
    a {
      text-decoration: none;
      font-weight: 400;
      font-size: 0.95em;
      line-height: 18px;
    }

    &.navigation {
      top: -250px;
      transition: 500ms ease-in-out;
      @media (max-width: 900px) {
        position: fixed;
        left: 0;
        width: 80%;
        flex-direction: column;
        row-gap: 20px;
        padding: 5px;
        align-items: center;
        background: #000000;
        display: flex;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
        a {
          width: 100%;
          padding: 10px;
          text-align: center;
          font-size: 20px;
          letter-spacing: 4px;
          &:hover {
            cursor: pointer;
            background: #2a2a2a;
          }
        }
      }
      &.open {
        @media (max-width: 900px) {
          top: 0;
        }
      }
    }
  }

  button {
    @media (max-width: 640px) {
      display: none;
    }
  }

  .hamburger {
    display: none;
    @media (max-width: 900px) {
      display: flex;
    }
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    div {
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      transition: 300ms;
    }
    &.open {
      div {
        background-color: #ffffff;
        &:nth-child(1) {
          transform: translate(-1px, 3px) rotate(45deg);
          width: 25px;
        }
        &:nth-child(2) {
          width: 0;
        }
        &:nth-child(3) {
          width: 25px;
          transform: translate(-2px, -10px) rotate(-45deg);
        }
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}
